<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="jitk-server.js"></script>
  </head>
  <body>
    <div id="channel-name"><%= name %></div>
    <div id="player"></div>
    <div id="root"></div>
    
  </body>
</html>
